// Styling for the masthead
header.masthead {
    text-align: center;
    color: white;
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    @include background-cover;
    .intro-text {
        padding-top: 150px;
        padding-bottom: 100px;
        .intro-lead-in {
            font-size: 1.75em;
            // font-style: italic;
            // line-height: 30px;
            margin-bottom: 25px;
            @include serif-font;
        }
        .intro-heading { 
            font-size: 25px;
            font-weight: 200;
            line-height: 25px;
            margin-bottom: 25px;
            @include heading-font;
        }
    }
}

@media(min-width:768px) {
    header.masthead {
        .intro-text {
            padding-top: 450px;
            padding-bottom: 10px;
            .intro-lead-in {
                font-size: 2.1em;
                // font-style: italic;
                line-height: 40px;
                // margin-bottom: 15px;
                @include serif-font;
            }
            .intro-heading {
                font-size: 25px;
                font-weight: 200;
                line-height: 25px;
                margin-bottom: 50px;
                @include heading-font;
            }
        }
    }
}